:root {
  --clr-bg: rgb(57, 57, 74);
  --clr-main: rgb(16, 18, 64);
  --clr-hover: linear-gradient(90deg, rgb(236, 66, 109), rgb(238, 80, 17));
  //   --clr-main: linear-gradient(90deg, rgb(33, 33, 142), rgb(58, 227, 16));
}
